Repository philipsahli/innominatus: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-verify, go-build, go-test-short, gosec, npm-lint, npm-format-check, typescript-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go hooks
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: go-imports
      - id: go-mod-tidy
      - id: golangci-lint
        args: ['--timeout=5m']

  # Security and local hooks
  - repo: local
    hooks:
      # Go module verification
      - id: go-mod-verify
        name: go mod verify
        entry: go mod verify
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      # Go build verification
      - id: go-build
        name: go build (verify compilation)
        entry: bash -c 'go build -o /tmp/innominatus cmd/server/main.go && go build -o /tmp/innominatus-ctl cmd/cli/main.go'
        language: system
        files: \.go$
        pass_filenames: false

      # Go short tests
      - id: go-test-short
        name: go test (short tests only)
        entry: go test -short ./...
        language: system
        files: \.go$
        pass_filenames: false

      # Go security scan
      - id: gosec
        name: gosec (Go security scanner)
        entry: gosec
        args: ['-exclude-dir=web-ui', './...']
        language: system
        files: \.go$
        pass_filenames: false

      # Go vulnerability check (manual only - can be slow)
      - id: govulncheck
        name: govulncheck (vulnerability scan)
        entry: govulncheck
        args: ['./...']
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false
        stages: [manual]

      # NPM lint for web-ui
      - id: npm-lint
        name: npm lint (web-ui)
        entry: bash -c 'cd web-ui && npm run lint'
        language: system
        files: ^web-ui/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      # NPM format check for web-ui
      - id: npm-format-check
        name: npm format check (web-ui)
        entry: bash -c 'cd web-ui && npm run format:check'
        language: system
        files: ^web-ui/.*\.(js|jsx|ts|tsx|json|css)$
        pass_filenames: false

      # TypeScript type check for web-ui
      - id: typescript-check
        name: typescript type check (web-ui)
        entry: bash -c 'cd web-ui && npx tsc --noEmit'
        language: system
        files: ^web-ui/.*\.(ts|tsx)$
        pass_filenames: false

fix: filter out empty application names in Select dropdown
  web-ui/src/app/dev/graph2/page.tsx
Due: npm-lint, npm-format-check, typescript-check

refactor: remove gray backgrounds and add graph visualization
  internal/orchestration/engine.go
  users.yaml
  web-ui/src/app/dev/graph2/page.tsx
  web-ui/src/components/dev/graph-view.tsx
  web-ui/src/components/dev/resource-table.tsx
Due: go-build, go-test-short, gosec, npm-lint, npm-format-check, typescript-check

feat: improve Graph Explorer workflow visibility and design consistency
  web-ui/src/app/dev/graph2/page.tsx
  web-ui/src/components/dev/live-steps-monitor.tsx
  web-ui/src/components/dev/workflow-table.tsx
Due: npm-lint, npm-format-check, typescript-check

fix: add date validation to prevent 'Invalid Date' display
  web-ui/src/components/dev/live-steps-monitor.tsx
  web-ui/src/components/dev/resource-table.tsx
  web-ui/src/components/dev/workflow-table.tsx
Due: npm-lint, npm-format-check, typescript-check

feat: implement multi-library graph visualizations for dev explorer
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/app/dev/graph2/page.tsx
  web-ui/src/components/dev/graph-view-cytoscape.tsx
  web-ui/src/components/dev/graph-view-d3.tsx
  web-ui/src/components/dev/graph-view-reactflow.tsx
  web-ui/src/components/dev/graph-view.tsx
  web-ui/src/lib/graph-colors.ts
  web-ui/src/lib/graph-export.ts
  web-ui/src/lib/graph-websocket.ts
  web-ui/src/types/cytoscape-dagre.d.ts
  web-ui/src/types/react-cytoscapejs.d.ts
Due: npm-lint, npm-format-check, typescript-check

feat: implement idempotent graph updates and team-based filtering
  GRAPH_CONNECTIVITY_FIXES.md
  TEAM_BASED_GRAPH_IMPLEMENTATION.md
  a.png
  cmd/server/main.go
  cmd/server/main_test.go
  examples/score-ecommerce-frontend.yaml
  internal/ai/executor.go
  internal/auth/test-sessions.json
  internal/cli/commands.go
  internal/cli/oidc_helpers.go
  internal/client/formatter.go
  internal/client/sse.go
  internal/database/applications.go
  internal/database/database_test.go
  internal/database/repository_test.go
  internal/database/resource_repository_test.go
  internal/events/bus.go
  internal/events/sse.go
  internal/mcp/tools/client.go
  internal/mcp/tools/client_test.go
  internal/mcp/tools/tools_test.go
  internal/orchestration/engine.go
  internal/orchestration/validation_integration_test.go
  internal/server/auth_handlers.go
  internal/server/handlers.go
  internal/types/types.go
  internal/workflow/executor.go
  migrations/001_create_graph_tables.sql
  providers/storage-team/workflows/provision-s3-bucket.yaml
  tests/e2e/crud_lifecycle_test.go
  tests/e2e/postgres_mock_test.go
  users.yaml
  web-ui/src/app/dev/applications/detail/page.tsx
  web-ui/src/app/dev/applications/page.tsx
  web-ui/src/app/dev/resources/page.tsx
  web-ui/src/app/dev/workflows/page.tsx
  web-ui/src/lib/api.ts
Due: go-build, go-test-short, gosec, npm-lint, npm-format-check, typescript-check

refactor: improve graph explorer detail panes with consistent architecture
  docs/WEB_UI_ARCHITECTURE.md
  web-ui/README.md
  web-ui/src/app/dev/applications/page.tsx
  web-ui/src/app/dev/resources/page.tsx
  web-ui/src/components/graph-text-view.tsx
  web-ui/src/components/graph-tooltip.tsx
  web-ui/src/components/graph-visualization.tsx
  web-ui/src/components/resource-details-pane.tsx
  web-ui/src/components/search-autocomplete.tsx
  web-ui/src/components/spec-details-pane.tsx
  web-ui/src/components/step-details-pane.tsx
  web-ui/src/components/workflow-details-pane.tsx
Due: npm-lint, npm-format-check, typescript-check

feat: add interactive click handlers to all graph visualization modes
  internal/workflow/executor.go
  internal/workflow/validation.go
  internal/workflow/validation_test.go
  web-ui/src/app/dev/graph2/page.tsx
  web-ui/src/components/dev/graph-view-cytoscape.tsx
  web-ui/src/components/dev/graph-view-d3.tsx
  web-ui/src/components/dev/graph-view-reactflow.tsx
Due: go-build, go-test-short, gosec, npm-lint, npm-format-check, typescript-check

feat: add fail-fast variable validation for workflows
  go.mod
  internal/workflow/validation_test.go
Due: go-mod-verify, go-build, go-test-short, gosec

feat: add event metadata to graph updates for live activity feed
  internal/orchestration/graph_observer.go
  internal/server/websocket.go
  web-ui/src/lib/graph-websocket.ts
Due: go-build, go-test-short, gosec, npm-lint, npm-format-check, typescript-check

feat: add live activity feed UI components to developer dashboard
  web-ui/src/app/dev/page.tsx
  web-ui/src/components/dev/activity-event-item.tsx
  web-ui/src/components/dev/activity-feed.tsx
Due: npm-lint, npm-format-check, typescript-check

docs: add comprehensive live activity feed implementation documentation
  LIVE_ACTIVITY_FEED.md
Due: none

feat: add YAML output support to CLI and web UI
  cmd/cli/main.go
  internal/cli/client.go
  internal/cli/commands.go
  internal/cli/output.go
  internal/orchestration/graph_observer.go
  web-ui/src/app/dev/applications/detail/page.tsx
  web-ui/src/app/dev/resources/page.tsx
  web-ui/src/components/application-details-pane.tsx
  web-ui/src/components/dev/activity-feed.tsx
  web-ui/src/components/dev/resource-table.tsx
  web-ui/src/components/resource-details-pane.tsx
  web-ui/src/components/spec-details-pane.tsx
  web-ui/src/components/step-details-pane.tsx
  web-ui/src/components/workflow-details-pane.tsx
  web-ui/src/lib/formatters.ts
  web-ui/src/types/global.d.ts
Due: go-build, go-test-short, gosec, npm-lint, npm-format-check, typescript-check

chore: update innominatus SDK dependencies
  go.mod
  go.sum
Due: go-mod-verify

fix: remove local replace directive for innominatus-graph module
  go.mod
  go.sum
Due: go-mod-verify

fix: sync database schema with model definitions
  internal/database/database.go
  migrations/011_add_resource_workflow_columns.sql
Due: go-build, go-test-short, gosec

test: skip Docker-dependent tests when Docker is not available
  cmd/server/main_test.go
  internal/database/database_test.go
  internal/database/testhelpers.go
Due: go-build, go-test-short, gosec

fix: add Docker skip check to test helper functions
  internal/database/testhelpers.go
Due: go-build, go-test-short, gosec

test: skip flaky concurrency test
  internal/events/bus_test.go
Due: go-build, go-test-short, gosec

test: skip ALL testcontainer tests in CI
  internal/database/testhelpers.go
Due: go-build, go-test-short, gosec

security: fix vulnerabilities (golang.org/x/crypto v0.43.0, Go 1.25.3)
  go.mod
  go.sum
Due: go-mod-verify

ci: update GitHub Actions workflows to Go 1.25.3
  .github/workflows/e2e-tests.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

security: fix gosec security scanner issues
  cmd/cli/deploy.go
  internal/auth/test-sessions.json
  internal/cli/oidc_helpers.go
  internal/providers/loader.go
  internal/server/handlers.go
Due: go-build, go-test-short, gosec

ci: temporarily disable codecov upload
  .github/workflows/test.yml
Due: none

test: add comprehensive embedded files verification tests
  cmd/server/embed_test.go
  cmd/server/main.go
Due: go-build, go-test-short, gosec

build(docker): update Dockerfile for embedded files and fix date-fns dependency
  Dockerfile
  web-ui/package-lock.json
Due: npm-format-check

fix: remove outdated goldenpaths.yaml from Docker builds
  .dockerignore
  .goreleaser.yaml
  Dockerfile
Due: none

fix: disable empty builtin provider to suppress validation warning
  examples/admin-config.yaml
Due: none

fix: add WebSocket authentication support for real-time graph updates
  internal/server/middleware.go
  internal/server/websocket.go
  web-ui/src/app/dev/resources/page.tsx
  web-ui/src/app/dev/websocket-test/page.tsx
  web-ui/src/components/dev/activity-feed.tsx
  web-ui/src/components/dev/websocket-debug.tsx
  web-ui/src/components/step-details-pane.tsx
  web-ui/src/lib/api.ts
  web-ui/src/lib/formatters.ts
  web-ui/src/lib/graph-websocket.ts
Due: go-build, go-test-short, gosec, npm-lint, npm-format-check, typescript-check

fix: add web-ui build step to GitHub Actions test workflow
  .github/workflows/test.yml
Due: none

fix: add missing date-fns dependency for activity feed
  web-ui/package.json
Due: npm-format-check
